.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1px;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 10px 5px 20px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 5px 20px 3px rgba(0, 0, 0, 0.5);
}

.featuredTitle {
  font-size: 25px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featuredIcon{
    font-size: 13px;
    margin-left: 5px;
    color: green;
}

.featuredIcon.negative{
    color: red;
}

.featuredSub{
    font-size: 15px;
    color: grey;
}